.chamada-section {
    margin: 200px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;

    & h2 {
    font-size: 3.5rem;
    color: #300469;
}

    & p {
        font-size: 30px;
        font-weight: 510;
    }
}



@media (max-width: 900px) {
  .chamada-section {
    margin: 100px 15px;
    gap: 20px;
    text-align: center;
  }

  .chamada-section h2 {
    font-size: 2.5rem;
    width: 90%;
  }

  .chamada-section p {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
