.depo-section {
    background-color: #511F90;
    padding: 100px 30px;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.depo-section h3 {
    font-size: 3rem;
    color: white;
}

.depo-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.depo-element {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 40%;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #511F90;
    padding: 50px;
    box-shadow: 10px 10px 43px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 10px 10px 43px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 10px 43px -3px rgba(0, 0, 0, 0.58);

    & p {
        color: rgba(0, 0, 0, 0.644);
        font-size: 1.2rem;
        font-weight: 500;

    }

    & p span {
        color: #511F90;
        font-weight: 700;

    }

    & img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid #511F90;
    }


}

.depo-element-filho {

    padding: 10px;
    border-radius: 12px;
    width: 60%;
}