#Sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
    margin: 200px 0px;
    background-color: #eaeafc;
    padding: 100px 0px;
    

}


.sobre-title {
    font-size: 4rem;
    color: #481B80;
}


.p-sobre{
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;

    & span {
        color: #481B80;
    }
}


.sobre-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}


.card  {
  width: 25%;
  max-width: 400px;
  height: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #481B80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-top {
  padding: 20px;
  gap: 10px;
  width: 100%;
}

.card-info {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  align-items: center;

  & p {
    color: rgba(0, 0, 0, 0.63);
    font-size: 15px;
    font-weight: 600;
  }

  & span {
    color: #481B80;
    font-size: 2rem;
  }
}

#card-bt a {
  font-size: 1.2rem;
}



@media screen and (max-width: 1200px) {
  #Sobre {
    padding: 60px 0px;
    margin: 100px 0px;
    gap: 30px;
  }

  .sobre-title {
    font-size: 3rem;
    text-align: center;
  }

  .p-sobre {
    width: 90%;
    font-size: 16px;
  }

  .sobre-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: auto;
  }

  .card-info p {
    font-size: 14px;
  }

  .card-info span {
    font-size: 1.5rem;
  }

  #card-bt a {
    font-size: 1rem;
  }
}
