@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.VidaLeve {
    color: #271b36e0;
    
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
  }